<div class="dashboard-layout">
  <!-- SIDEBAR-->
  <div class="sidebar">
    <div class="logo-container">
    <img src="assets/images/logo.png" alt="Moto 2000 Logo" class="logo" />
    </div>
    <ul class="nav-links">
      <ng-container *ngIf="(isAuthenticated$ | async) === true; else loggedOut">
        <!-- Usuário autenticado -->
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/transaction">Transações</a></li>
        <li><a routerLink="/sell">Venda</a></li>
        <li><a routerLink="/purchase">Compra</a></li>
        <li><a routerLink="/current">Conta</a></li>
        <li><a (click)="logout()">Logout</a></li>

        <!-- Verifica se é admin -->
        <ng-container *ngIf="(isAdmin$ | async) === true">
          <li><a routerLink="/client">Clientes</a></li>
          <li><a routerLink="/motorcycle">Motocicletas</a></li>
          <li><a routerLink="/product">Produtos</a></li>
          <li><a routerLink="/category">Categoria</a></li>
          <li><a routerLink="/supplier">Fornecedores</a></li>
        </ng-container>
      </ng-container>

      <ng-template #loggedOut>
        <!-- Usuário não autenticado -->
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Registrar</a></li>
      </ng-template>
    </ul>
  </div>

  <!-- MAIN CONTENT -->

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
