.sidebar {
  width: 13%;
  height: 100vh;
  background: linear-gradient(135deg, #121416, #2b2f33);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.4);
  position: fixed;
  transition: all 0.3s ease;
  align-items: center;
}

.logo-container {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.logo {
  width: 80%;
  max-width: 190px;
  filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.2));
}

.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-links li {
  margin: 15px 0;
}

.nav-links li a {
  display: block;
  color: #f1f1f1;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.95rem;
  font-weight: 500;
  border-left: 4px solid transparent;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 4px solid #ff2e2e;
  color: #ff2e2e;
}

.nav-links a.active {
  background: rgba(255, 46, 46, 0.1);
  border-left: 4px solid #ff2e2e;
  color: #ff2e2e;
}

.nav-links li:hover a::before {
  content: "» ";
  margin-right: 5px;
  color: #ff2e2e;
}

.main-content {
  margin-left: 13%;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.logout-item {
  position: absolute;
  bottom: 10px;       
  width: 100%;
  margin: 0;
}

/* Responsivo */
@media (max-width: 768px) {
  .sidebar {
    width: 20%;
  }

  .main-content {
    margin-left: 20%;
  }

  .logo {
    max-width: 80px;
  }

  .nav-links li a {
    font-size: 0.85rem;
    padding: 10px;
  }
}
